/* Remove default spacing */
body {
    margin: 0;
    background-color: #2c3e50;
    font-family: Arial, sans-serif;
}

/* Main white login box */
.login-box {
    width: 400px;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.3);

    margin: 120px auto;   /* centers horizontally */
    text-align: center;
}

/* Heading */
.login-box h2 {
    margin-bottom: 30px;
    font-size: 28px;
    color: #2c3e50;
}

/* Input fields */
.login-box input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    font-size: 18px;
    border-radius: 6px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Button */
.login-box button {
    width: 100%;
    padding: 14px;
    font-size: 18px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

/* Hover effect */
.login-box button:hover {
    background-color: #2980b9;
}

.dashboard-box {
    width: 500px;
    background-color: white;
    margin: 120px auto;   /* centers horizontally */
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.3);
    text-align: center;
}

/* Heading */
h1 {
    color: #e8ecef;
    margin-bottom: 20px;
    text-align: center;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
}


h3 {
    font-size: 35px;
    margin-bottom: 30px;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: blanchedalmond;

}

/* Links */
a {
    display: block;
    margin: 15px 0;
    font-size: 18px;
    text-decoration: none;
    color: #f1f4f6;
    text-align: center;
}

/* Hover Effect */
a:hover {
    color: #091a26;
}


/* Page background */
body {
    margin: 0;
    background-color: #2c3e50;
    font-family: Arial, sans-serif;
    text-align: center;   /* centers text */
}

/* Title */
h2 {
    color: white;
    padding: 20px;
}

/* Each listing section */
hr {
    width: 60%;
    margin: 30px auto;
    border: 1px solid #3498db;
}

/* Content block */
h3, p, form {
    width: 60%;
    margin: 10px auto;   /* centers each block */
}

/* Add border box around form */
form {
    padding: 15px;
    border: 2px solid #3498db;
    border-radius: 8px;
    background-color: white;
}

/* Inputs */
input {
    padding: 6px;
    margin: 5px;
}

/* Button */
button {
    padding: 8px 15px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #d9e6ef;
}

/* Back link */
a {
    color: #3498db;
    font-weight: bold;
    text-decoration: none;
}




h2 {
    color: white;
    padding: 20px;
}

hr {
    width: 60%;
    margin: 30px auto;
    border: 1px solid #3498db;
}

p {
    width: 60%;
    margin: 10px auto;
    background: white;
    padding: 8px;
    border-radius: 5px;
}

a {
    display: inline-block;
    margin: 10px 10px;
    padding: 8px 15px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

a:hover {
    background-color: #2980b9;
}

h2 {
    color: white;
    padding: 20px;
}

hr {
    width: 35%;
    margin: 30px auto;
    border: 1px solid #3498db;
}

p {
    width:35%;
    margin: 10px auto;
    background: white;
    padding: 8px;
    border-radius: 5px;
}

a {
    display: inline-block;
    margin: 20px;
    padding: 8px 15px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

a:hover {
    background-color: #2980b9;
}

body {
    margin: 0;
    background-color: #2c3e50;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

h2 {
    color: white;
    padding: 20px;
}

hr {
    width: 40%;
    margin: 30px auto;
    border: 1px solid #3498db;
}

p {
    width: 40%;
    margin: 10px auto;
    background: white;
    padding: 8px;
    border-radius: 5px;
}

button {
    padding: 8px 15px;
    background-color: #e74c3c;   /* red delete button */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #c0392b;
}

a {
    display: inline-block;
    margin: 20px;
    padding: 8px 15px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

a:hover {
    background-color: #2980b9;
}