/* Remove default spacing */
body {
    margin: 0;
    background-color: #2c3e50;
    font-family: Arial, sans-serif;
}

/* Main white login box */
.login-box {
    width: 400px;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.3);

    margin: 120px auto;   /* centers horizontally */
    text-align: center;
}

/* Heading */
.login-box h2 {
    margin-bottom: 30px;
    font-size: 28px;
    color: #2c3e50;
}

/* Input fields */
.login-box input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    font-size: 18px;
    border-radius: 6px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Button */
.login-box button {
    width: 100%;
    padding: 14px;
    font-size: 18px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

/* Hover effect */
.login-box button:hover {
    background-color: #2980b9;
}

.dashboard-box {
    width: 500px;
    background-color: white;
    margin: 120px auto;   /* centers horizontally */
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.3);
    text-align: center;
}

/* Heading */
h1 {
    color: #e8ecef;
    margin-bottom: 20px;
    text-align: center;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
}


h3 {
    font-size: 35px;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: blanchedalmond;

}

/* Links */
a {
    display: block;
    margin: 15px 0;
    font-size: 18px;
    text-decoration: none;
    color: #f1f4f6;
    text-align: center;
}

/* Hover Effect */
a:hover {
    color: #2980b9;
}


