<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>WELCOME {{ username }}</h1>
    <h3>YOUR CREDITS: {{ credits }}</h3>

    <br>

    <a href="/post">POST LISTING</a>
    <br><br>
    <a href="/browse">BROWSE LISTINGS</a>
    <br><br>
    
    <a href="/my_listings">MY LISTING REQUESTS</a>
<br><br>
<a href="/my_requests">MY REQUESTS</a>
<br><br>
<a href="/my_posts">MY POSTED LISTINGS</a><br>
<br><br>
<a href="/logout">LOGOUT</a>

</body>
</html>