<!DOCTYPE html>
<html>
<head>
    <title>Post Listing</title>
    
    <body style="margin:0; background-color:#2c3e50;"></body>
</head>


<body>

    <h2 style="text-align:center;color:aliceblue;font-size: 35px;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">CREATE LISTING</h2>

    <form method="POST" action="/post">
        <div style="text-align: center; color: white; font-size: 20px;">

        <input type="text" name="title" placeholder="Title" required>
        <br><br>

        <textarea name="description" placeholder="Description" required ></textarea>
        <br><br>

        <select name="type" required>
            <option value="Item">Item</option>
            <option value="Skill">Skill</option>
        </select>
        <br><br>

        <input type="number" name="price" placeholder="Credits Required" min="1" required>
        <br><br>

        <label>Available From:</label>
        <input type="date" name="available_from" required>
        <br><br>

        <label>Available To:</label>
        <input type="date" name="available_to" required>
        <br><br>

        <button type="submit">Post</button>
        </div>

    </form>

    <br>
    <a href="/dashboard">Back to Dashboard</a>

</body>
</html>